@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg); 
	color: white;
	opacity: 0; 
	height: 16px; 
	width: 16px;
	position: absolute; 
	left: 50%;
	transform: translate(-50%, 0px);
} 

input:checked.defaultCheckbox::before { 
	opacity: 1;
}

@layer components {
  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-navy-700 border-2 border-gray-700 dark:border-navy-800 hover:border-gray-600 dark:hover:border-navy-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-gray-900 hover:border-gray-500 dark:border-navy-400 dark:hover:border-navy-400 shadow;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-white dark:bg-gray-800 border-2 border-white dark:border-gray-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-gray-800 dark:text-white bg-white hover:bg-green-200 dark:bg-gray-800 dark:hover:bg-navy-400;
  }

  .my-react-select-container .my-react-select__clear-indicator,
  .my-react-select-container .my-react-select__dropdown-indicator {
    @apply text-gray-500 hover:text-gray-900 dark:text-gray-600 dark:hover:text-white;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-navy-700;
  }

  .my-react-select-container .my-react-select__multi-value__label {
	@apply bg-green-500 dark:text-white;
  }

  .my-react-select-container .my-react-select__multi-value__remove {
	@apply bg-green-500 hover:bg-green-600;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-gray-900 dark:text-navy-200;
  }
}